<div class="content">
    <h3>Order List</h3>
        <table>
            <tr>
                <td>order id</td>
                <td>user</td>
                <td>total price</td>
                <td>status</td>
                <td>action</td>
            </tr>
            each data_order in all_orders
                <tr>
                    <td>#{data_order.id}</td>
                    <td>#{data_order.customer.email}</td>
                    <td></td>
                    <td>#{data_order.total_price}</td>
                    <td>#{data_order.status}</td>
                    <td><a href="/cms/orders/view/#{data_order.id}">view</a></td>
                </tr>
        </table>
</div>
